package {{packageName}};

import org.springframework.stereotype.Controller;
import org.springframework.web.bind.annotation.RequestMapping;

@Controller
@RequestMapping("/{{endpoint}}")
public class {{className}} {

{{resourceFunctions}}

}
